# Android
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/captures/
android/.externalNativeBuild/

# Capacitor
android/capacitor-cordova-android-plugins/build/
android/capacitor-cordova-android-plugins/src/main/libs/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.*.local

.DS_Store
node_modules
/dist
*.exe
git-portable/
package-lock.json

# Android build artifacts
gradle-7.4.2/
temp/
build_*.txt
build_*.log
gv.txt
version.log
tasks.txt
gradle_version_*.txt
gradle_version_out.txt
